*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    .Navbar, a{
        display: flex;
        padding: 0.8rem;
        gap: 1rem;
        text-decoration: none;
        background-color: #333;
        color: white;
        font-size: 1.5rem;
    }
}

section, .Profile{
    img{
        margin: 1.5%;
        margin-bottom: 2rem;
        width: 150px;
        border-radius: 100px;
        background-color: #f9f9f900;
        box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.25) ;
    }
    .Profile-Container{
        display: flex;
        align-items: center;
    }
}