*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}


/* Navbar Section */
header{
    /* Navbar Styling */
    .Navbar, a{
        display: flex;
        padding: 0.8rem;
        gap: 1rem;
        text-decoration: none;
        background-color: #333;
        color: white;
        font-size: 1.5rem;
    }
}

/* Project Section */
section, .Profile{
    /* img styling */
    img{
        margin: 1.5%;
        margin-bottom: 2rem;
        width: 150px;
        border-radius: 100px;
        background-color: #f9f9f900;
        box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.25) ;
    }

    /* Profile description centering */
    .Profile-Container{
        display: flex;
        align-items: center;
    }
}

/* Project Section */
section{
    /* Project Wrapper styling */
    .Project-Container{
        display: grid;
        padding-right: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        margin: 1%;
        gap: 0.7rem;
        margin-left: 18.5%;
        
        /* Card Styling */
        .Project-Card{
            border-style:solid;
            border-width: 0.1rem;
            padding: 1rem;
            background-color: whitesmoke;
            .Project-Subtitle-1, Project-Subtitle-2, Project-Subtitle-3, h2{
                font-size: 1.6rem;
                padding-bottom: 0.9rem;
            }
        }
    }
}

footer{
    p{
        padding-left: 1%;
        padding-bottom: 1%;
    }
    .footer, a{
        display: flexbox;
        margin : 1%;
    }

}