*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    .Navbar, a{
        display: flex;
        padding: 0.8rem;
        gap: 1rem;
        text-decoration: none;
        background-color: #333;
        color: white;
        font-size: 1.5rem;
    }
}

